{% extends 'base.html' %}
{% block 'body' %}
  <div class="container">
    <h1>Cadastrar Vendedor</h1>
    <form method="POST" action="{% url 'login' %}">
      {% csrf_token %}
      <label for="" style="margin-bottom: 10px;">E-mail</label>
      <input type="email" name="email" class="form-control" placeholder="Digite seu E-mail">
      <label for="">Senha</label>
      <input type="password" name="senha" class="form-control" placeholder="Digite sua Senha">
      <input type="submit" class="btn btn-success">
  </div>
{% endblock %}